@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page_background {
  background: linear-gradient(
      101deg,
      #030539 7.98%,
      #010109 64.57%,
      #110234 99.01%
    )
    no-repeat center center;
  background-size: cover;
  height: 100%;
}
